* { 
    font-family: Arial, sans-serif;
    color:rgb(36, 36, 36)
}
body{
    
    

}

.container {
    margin: auto;
    margin-top: 150px;
   text-align: center;
   width: 600px;
}
input[type=text] {
    width: 500px;
    height: 30px;
    border: none transparent;
    outline: none;
    padding: 0px 6px;
    font-size: 16px;
}


.navbutt {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.botnav {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: rgb(92, 92, 92);
    text-align: center;
}

a:hover { 
    text-decoration: underline;
}

.topbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#lefthead {
    align-self: center;
    float: left;
    padding: 15px;
}
#righthead {
    align-self: center;
    float: right;
    padding: 15px;
}

#searchbar {
  
    margin: 30px auto;
    border-radius: 30px;
    border-style: solid;
    border-width: .25px;
    width: 575px;
    border-color: rgb(223, 216, 218);
    height: 45px;
    vertical-align: middle;

}
#searchbar:hover {
    box-shadow: 1px 2px 5px rgb(238, 238, 238);
    
}

#butt {
    background-color: rgb(244, 244, 244);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(36, 36, 36);

}
#butt:hover {
    border-style: solid;
    border-width: .25px;
    border-color: rgb(223, 216, 218);
    
    text-decoration: none;
}

#belowbutts {
    display: flex;
    justify-content: center;


}

#buttdiv {
    margin: 0px 5px
}

#footy {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(244, 244, 244);
    height: 50px;
    display: flex;
    align-content: center;
 

}

.footydiv {
    height: 30px;
    background-color: blue;
    
}

.sbimg {
    padding-top: 7px;
    height: 26px;
}